pipeline/foreachcopy_pipeline_invokepipeline_filter.json
{
	"name": "foreachcopy_pipeline_invokepipeline_filter",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata",
						"type": "DatasetReference",
						"parameters": {
							"dd_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"dd_directory": {
								"value": "@pipeline().parameters.pp_input_directory",
								"type": "Expression"
							},
							"dd_filename": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "parametercopy_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_container": {
										"value": "@pipeline().parameters.pp_container",
										"type": "Expression"
									},
									"pp_input_directory": {
										"value": "@pipeline().parameters.pp_input_directory",
										"type": "Expression"
									},
									"pp_output_directory": {
										"value": "@pipeline().parameters.pp_output_directory",
										"type": "Expression"
									},
									"pp_filename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"pp_archive_directory": {
										"value": "@pipeline().parameters.pp_archive_directory",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.txt')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string"
			},
			"pp_input_directory": {
				"type": "string"
			},
			"pp_filename": {
				"type": "string"
			},
			"pp_output_directory": {
				"type": "string"
			},
			"pp_archive_directory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "adfpipeline2"
		},
		"annotations": []
	}
}