pipeline/thirdpipeline.json
{
	"name": "thirdpipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata",
						"type": "DatasetReference",
						"parameters": {
							"dd_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"dd_directory": {
								"value": "@pipeline().parameters.pp_input_directory",
								"type": "Expression"
							},
							"dd_filename": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string"
			},
			"pp_input_directory": {
				"type": "string"
			},
			"pp_filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "adfpipeline2"
		},
		"annotations": []
	}
}